<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Incantation</title>
</head>
<body>
    <h1>ANOTHA TARNATION</h1>
    <form action="/incantations" method="POST">
        <h2> Name: <input type="text" name="name" /><br/> <br>
        Found: <input type="text" name="found" /><br/> <br>
        Details: <input type="text" name="details" /><br/> <br>
        Requirements: <input type="text" name="reqs" /><br/> <br>
        Damage Types: <input type="text" name="dmgtypes" /><br/> <br>
        FP Cost (Numbers Only): <input type="text" name="fpcost" /><br/> <br>
        Spell Slots Used (Numbers Only): <input type="text" name="slotcost" /><br/> <br>
        Can Charge: <input type="checkbox" name="cancharge" /><br/> <br>
        <input type="submit" name="" value="Add New Incantation!" /> </h2>
    </form>
</body>
</html>