<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Elden Compendium: Home</title>
</head>
<body>
    <h1>SEEK THE ELDEN BLING</h1>
    <nav>
        <h2><a href='/weapons'>Weapons</a>
        <a href='/armor'>Armor</a>
        <a href='/rings'>Rings</a>
        <a href='/incantations'>Incantations</a>
        <a href='/sorceries'>Sorceries</a> </h2>
    </nav>
    <h1>BECOME THE ELDEN BOARD</h1>
</body>
</html>