<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ring</title>
</head>
<body>
    <h1>ANOTHA RING</h1>
    <form action="/rings" method="POST">
        <h2> Name: <input type="text" name="name" /><br/> <br>
        Found: <input type="text" name="found" /><br/> <br>
        Effect: <input type="text" name="effect" /><br/> <br>
        <input type="submit" name="" value="Add New Ring!" /> </h2>
    </form>
</body>
</html>