<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Elden Compendium: <%=eldring.name; %> </title>
    </head>
    <body>
        <h1>Ring Page: <%=eldring.name; %> </h1>
        <nav>
            <h3> <a href="/elden">Home</a>
            <a href="/rings">Back to Rings</a> </h3> <br>
        </nav>
        <h2>Found: <%=eldring.found; %>. <br> <br>
        Effect: <%=eldring.effect; %> </h2> <br>
    </body>
</html>