<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Weapon</title>
</head>
<body>
    <h1>ANOTHA WEBBUN</h1>
    <form action="/weapons" method="POST">
        <h2> Name: <input type="text" name="name" /><br/> <br>
        Found: <input type="text" name="found" /><br/> <br>
        Type: <input type="text" name="type" /><br/> <br>
        Requirements: <input type="text" name="reqs" /><br/> <br>
        Scaling: <input type="text" name="scaling" /><br/> <br>
        Fully Upgraded Scaling: <input type="text" name="endScaling" /><br/> <br>
        Damage Types: <input type="text" name="dmgtypes" /><br/> <br>
        Extra Info: <input type="text" name="extra" /><br/> <br>
        Is Somber: <input type="checkbox" name="somber" /><br/> <br>
        <input type="submit" name="" value="Add New Weapon!" /> </h2>
    </form>
</body>
</html>